@charset "utf-8";
@import url("font-awesome.css");
@font-face {
	font-family: "Avenir";
	src: url("./fonts/Avenir-Light.eot");
	src: url("./fonts/Avenir-Light.eot?#iefix") format("embedded-opentype"), url("./fonts/Avenir-Light.otf") format("opentype"), url("./fonts/Avenir-Light.svg") format("svg"), 	 url("./fonts/Avenir-Light.ttf") format("truetype"), url("./fonts/Avenir-Light.woff") format("woff"), url("./fonts/Avenir-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "Avenir";
	src: url("./fonts/Avenir-Medium.eot");
	src: url("./fonts/Avenir-Medium.eot?#iefix") format("embedded-opentype"), url("./fonts/Avenir-Medium.otf") format("opentype"), url("./fonts/Avenir-Medium.svg") format("svg"), 	 url("./fonts/Avenir-Medium.ttf") format("truetype"), url("./fonts/Avenir-Medium.woff") format("woff"), url("./fonts/Avenir-Medium.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Avenir";
	src: url("./fonts/Avenir-Heavy.eot");
	src: url("./fonts/Avenir-Heavy.eot?#iefix") format("embedded-opentype"), url("./fonts/Avenir-Heavy.otf") format("opentype"), url("./fonts/Avenir-Heavy.svg") format("svg"), 	 url("./fonts/Avenir-Heavy.ttf") format("truetype"), url("./fonts/Avenir-Heavy.woff") format("woff"), url("./fonts/Avenir-Heavy.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Avenir";
	src: url("./fonts/Avenir-Black.eot");
	src: url("./fonts/Avenir-Black.eot?#iefix") format("embedded-opentype"), url("./fonts/Avenir-Black.otf") format("opentype"), url("./fonts/Avenir-Black.svg") format("svg"), 	 url("./fonts/Avenir-Black.ttf") format("truetype"), url("./fonts/Avenir-Black.woff") format("woff"), url("./fonts/Avenir-Black.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}

body {
	font-size: 14px;
	font-family: 'Avenir';
	font-weight:400;
	background: #fff;
	color:#000000;
	overflow-x: hidden;
}
a {
	color: #fff;
	text-decoration: none;
	transition: all 250ms ease-in-out;
}
a:hover {
	text-decoration: none;
	color: #f05624;
}
a:focus {
	outline: none;
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0 0 15px;
	font-weight: 600;
	color: #000;
	text-transform: uppercase;
}
ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
img {
	max-width: 100%;
}
input[type='text'],
input[type='number'],
input[type='password'],
button,
textarea,
select,
option,
img,
.item {
    outline: none;
    box-shadow: none !important;
}
.mobile {
	display: none !important;
}
/*-------------------------Header Css-----------------------------*/
header {
	margin: 0;
	padding: 20px 0;
	width: 100%;
	background: #fff;
}
header .logo-left {
	display: inline-block;
	margin: 0;
	width: 150px;
	transition: all 350ms ease-out;
}
header .logo {
	display: inline-block;
	margin: 0;
	width: 200px;
	transition: all 350ms ease-out;
}
.menuconainer {
	position: fixed;
    top: -100%;
    left: 0;
    padding: 35px 10px;
    width: 100%;
    background: #f6f6f6;
    transition: all ease-in-out 200ms;
    z-index: 9;
}
.menuconainer.active {
    top: 0;
}
.closeMenu {
	color: #51453e;
	font-size: 26px;
	position: absolute;
	right: 15px;
	top: 10px;
	cursor: pointer;
	z-index: 99;
}
.menu-show {
	width: 30px;
	z-index: 9;
	cursor:pointer;
}
.menu-show em {
	display: block;
	background: #51453e;
	width: 31px;
	height: 2px;
}
.menu-show em:nth-child(1) {
	width: 25px;
}
.menu-show em:nth-child(2) {
	width: 20px;
}
.menu-show em + em {
	margin-top: 5px;
}
.menu-show.active em {
	background: #0a8442;
}
.menubar {
	text-align:center;
}
.menubar a {
	display: block;
}
.menubar a:hover {
	opacity: 0.8;
}
.menubar img {
	width: 200px;
}
.menubar h3 {
    font-size: 20px;
	font-weight:300;
    margin: 20px 0 0;
	color:#000;
	text-transform: uppercase;
}
.topmenu img {
    width: 60px;
}
.topmenu h3 {
    font-size: 14px;
    margin: 10px 0 0;
}
/*-------------------------Home Slider Section Css-----------------------------*/
.slider {
	width: 100%;
	position: relative;
}
.slider img {
	width: 100%;
}
.modtextcon {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.modtextcon .container {
    position: relative;
    height: 100%;
}
.modtextcon .infobox {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    line-height: 1;
    color: #fff;
    max-width: 470px;
}
.modtextcon .infobox h1 {
	font-size: 72px;
	color: #fff;
	margin-bottom: 7px;
}
.modtextcon .infobox p {
    font-size: 20px;
    margin-bottom: 0;
    text-transform: uppercase;
    line-height: 1.3;
}
/*-------------------------Content Section Css-----------------------------*/
.content {
	width: 100%;
	clear: both;
	padding: 20px 0;
}
h1.title, .content h2.title {
	font-size: 30px;
	margin-bottom: 60px;
	letter-spacing: 1px;
}
.content p {
	font-size: 16px;
	margin-bottom: 25px;
}
.content p:last-child {
	margin-bottom: 0px;
}
.flexrtl {
	flex-direction: row-reverse;
	-webkit-flex-direction: row-reverse;
}
.no-padding {
	padding: 0 !important;
}

.loader {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	position: absolute;
    left: 0;
    top: 0;
	z-index: 9;
	display: none;
}
.faqbx .faqcontent .loader {
	background: rgba(255,255,255,0.4);
}
.loadercircle {
    border: 7px solid #f3f3f3; /* Light grey */
    border-top: 7px solid #7a3787; /* Blue circle */
    border-radius: 50%;
    width: 50px;
    height: 50px;
	animation: spin 1s linear infinite;
	position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    z-index: 9;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.suggestion .greenbx {
	background: #81b05e;
	padding: 40px;
	overflow: hidden;
}
.faq-contaner {
    float: left;
    width: 100%;
    margin: 0;
}
.faqbx {
    float: left;
    width: 100%;
    margin: 0px;
}
.faqbx + .faqbx {
    margin-top: 20px;
}
.faqbx h3 {
    float: left;
    width: 100%;
	font-size: 22px;
	font-weight: 300;
    cursor: pointer;
    color: #fff;
    margin: 0;
    line-height: 1;
    position: relative;
	background: url(../images/dash.png) repeat-x 0 11px;
	background-size: 15px;
	text-transform: none;
}
.faqbx h3 span {
	background: #81b05e;
	padding-right: 10px;
    display: inline-block;
}
.faqbx h3:after {
	content: "";
	position: absolute;
	background-image: url(../images/arrow-down.png);
	background-repeat: no-repeat;
	background-size: 23px;
    width: 25px;
    height: 23px;
    right: 0px;
    top: 3px;
    background-color: #81b05e;
}
.faqbx h3.active {
    color: #dae475;
}
.faqbx h3.active:after {
	background-image: url(../images/arrow-down-active.png);
	background-repeat: no-repeat
}
.faqbx .faqcontent {
    display: none;
    float: left;
    width: 100%;
	margin:20px 0 0;
}
.faqbx .faqcontent p {
	font-size: 13px;
	color: #dae475;
}
.mood li {
	display: inline-block;
	text-align: center;
	padding: 0 7px 0 0;
	font-weight: 300;
	font-size: 12px;
}
.mood li:last-child {
	padding-right: 0;
}
.mood li a {
	display: block;
}
.mood li a.active,
.mood li a:hover {
	color: #dae475;
}
.mood li img {
	display: inline-block;
	width: 50px;
}
.mood li a.active img,
.mood li img:hover {
	opacity: 0.6;
}
.mood li span {
	display: block;
}
.moodsubmit {
	text-align: center;
}
.moodsubmit .textfield {
	background: #fff;
	border: none;
    padding: 12px 15px;
	height: 50px;
	width: 100%;
}
.btnsubmit {
	float: right;
	background: none;
	background-image: url(../images/submit.png);
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: right 0;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    border: none;
	padding: 0px 25px 1px 10px;
	margin-top: 12px;
	cursor: pointer;
}
.message {
	display: none;
}
.moodsubmit .message {
	font-size: 13px;
    position: absolute;
    top: -22px;
	color: #dae475;
	margin: 0;
}
.improvement {
	text-align: center;
}
.improvement .greencircle {
	display: inline-block;
	width: 150px;
}
.improvement h2 {
	color: #81b05e;
	font-size: 36px;
	margin: 40px 0;
}
.knowmore {
	font-size: 20px;
	font-weight: 300;
	color: #81b05e;
	border: 1px dashed #81b05e;
	padding: 25px 35px;
    border-radius: 60px;
    display: inline-block;
}
.knowmore a {
	color: #000;
	text-decoration: underline;
}
.back-right {
	position: absolute;
    right: 15px;
    bottom: 15px;
    width: 80px;
}
.back-left {
	position: absolute;
    left: 25px;
    bottom: 25px;
    width: 80px;
}
.greybg {
	background: #f4f4f4;
}
.whitebg {
	background: #fff;
}
.jointeam .row {
    margin-right: -9px;
    margin-left: -8px;
}
.jointeam .member {
    padding-right: 8px;
	padding-left: 8px;
}
.jointeam .member:nth-child(n+7) {
	margin-top: 16px;
}
.jointeam .member .box {
	position: relative;
	text-align: center;
}
.jointeam .member .box a {
	display: block;
}
.jointeam .member .box a:hover {
	opacity: 0.8;
}
.jointeam .member .box h2 {
	position: absolute;
	bottom: 15px;
	left: 0;
	width: 100%;
	color: #81b05e;
	font-size: 18px;
	margin: 0;
}
.jointeam .member .box h2 span {
	color: #542f13;
	display: block;
	margin-top: 8px;
}
.jointeam .member .box h2 span.white {
	color: #fff;
}
.modal-dialog {
    max-width: 1110px;
    margin: 1.75rem auto;
}
.modal-content {
	border-radius:0;
}
.modal-body {
	padding: 0;
}
.modal .close {
	position: absolute;
	top: 5px;
	right: 15px;
	z-index: 9;
}
.memberpop .box {
	position: relative;
	text-align: center;
}
.memberpop .box h2 {
	background: rgba(152,189,123,0.7);
	position: absolute;
	bottom: 70px;
	left: 0;
	width: 100%;
	color: #fff;
	font-size: 56px;
	margin: 0;
	padding: 15px;
	letter-spacing: 1px;
}
.memberpop .box h2 span {
	display: block;
	margin-top: 10px;
}
.memberdetail {
	padding: 50px;
	position: relative;
}
.memberdetail h3 {
	font-size: 22px;
	font-weight: 500;
	color: #fbb03b;
	letter-spacing: 1px;
}
.memberdetail h3 span {
	color: #000000;
}
.memberdetail p {
	font-size: 18px;
	line-height: 1.4;
}
.memberdetail p strong {
	text-transform: uppercase;
	font-size: 16px;
}
.memberdetail ul {
	list-style: outside;
	padding: 0 0 30px 15px;
}
.memberdetail ul li + li {
	margin-top: 10px;
}
.formbx {
	margin-top: 35px;
}
.form-group {
	margin-bottom:30px;
}
.form-group label {
	font-size:18px;
	color:#51453e;
	font-weight:600;
	text-transform:uppercase;
	line-height:1;
	margin-bottom: 0;
}
.form-control {
	display: block;
	width: 100%;
	height: 44px !important;
	padding: 6px 20px;
	font-size: 16px;
	letter-spacing:1px;
	font-weight:400;
	line-height: 1.42857143;
	color: #51453e;
	background-color: #fff;
	background-image: none;
	border: 1px solid #fbb03b !important;
	border-radius: 0px;
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}
.form-control:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6)
}
.form-control[readonly] {
    background-color: #fff;
	border: 1px solid #cecece !important;
}
.btnbx {
	margin-top:30px;
	text-align:center;
}
.joinbtn {
	background: url(../images/hand.png) no-repeat top center;
    background-size: 90px auto;
    font-size: 18px;
    color: #51453e;
    font-weight: 600;
    padding: 70px 0 0 0;
    text-transform: uppercase;
    width: 150px;
    text-align: center;
}
.yellowbx {
	background: #fbb03b;
}
.bulbbx {
	text-align: center;
	padding: 50px 25px;
}
.bulbbx .bulb {
	display: inline-block;
	width: 150px;
}
.bulbbx h2 {
	color: #51453e;
	font-size: 36px;
	margin: 40px 0;
}
.bulbbx p {
	color: #51453e;
	font-size: 24px;
	font-weight: 300;
	line-height: 1.3;
	margin: 0;
}
.ideaform {
	padding: 60px 40px;
	position: relative;
}
.ideaform h2 {
	color: #fbb03b;
	font-size: 36px;
	margin: 0;
}
.ideatext {
	background: url(../images/textarea.png) repeat;
	border: none;
    resize: none;
    width: 100%;
	height: 300px;
	font-size: 22px;
	line-height: 40px;
	margin-bottom: 20px;
}
.back-idea {
    position: absolute;
    left: 40px;
    bottom: 60px;
    width: 80px;
}
.btnsubmit-yellow {
    background: none;
    background-image: url(../images/submit2.png);
    background-repeat: no-repeat;
	background-size: 32px;
    background-position: right 5px;
    color: #542f13;
    font-weight: 600;
    font-size: 26px;
    text-transform: uppercase;
    border: none;
    padding: 10px 40px 10px 10px;
    margin-top: 12px;
    cursor: pointer;
}
.mehroonwbx {
	background: #542f13;
}
.thanksbx {
	text-align: center;
	padding: 40px;
}
.thanksbx .thnks {
	display: inline-block;
	width: 250px;
	margin-bottom: 50px;
}
.thanksbx p {
	font-weight: 600;
	font-size: 22px;
	line-height: 1.4;
	color: #fff;
	margin: 0;
}
.thanksform {
    padding: 60px 40px;
    position: relative;
}
.thanksform .form-control {
	border: 1px solid #542f13 !important;
}
.form-group .helpf {
	color: #542f13;
	text-transform: none;
	font-size:22px;
	line-height: 1.3;
}
.helptext {
    background: url(../images/textarea-mehroon.png) repeat;
    border: none;
    resize: none;
    width: 100%;
    height: 160px;
    font-size: 22px;
    line-height: 40px;
    margin-bottom: 20px;
}
.formbx .checkbox input[type="checkbox"] {
    visibility: hidden;
}
.formbx .checkbox input[type="checkbox"] + label {
	background: url(../images/check.png) no-repeat;
    padding: 8px 0 0 55px;
    height: 40px;
    width: 100%;
    font-size: 20px;
    text-transform: uppercase;
	background-size: 36px;
	cursor: pointer;
}
.formbx .checkbox input[type="checkbox"]:checked + label {
    background: url(../images/checked.png) no-repeat;
	background-size: 40px;
}
.pt-0 {
	padding-top: 0 !important;
}
.pb60 {
	padding-bottom: 60px;
}
.landingbx {
	padding: 60px 0;
	overflow: hidden;
}
.landingbx p {
	color: #594b45;
	font-size: 26px;
	margin: 0 0 40px;
}
.landingbx p span {
	font-weight: 600;
}
.landingbx p.green {
	color: #81b05e;
	font-weight: 600;
	margin: 0 0 10px;
}
.landingbx p.green span {
	color: #fbb03b;
}
.startbtn {
	float: right;
	width: 150px;
}
.startbtn:hover {
	opacity: 0.8;
}
.page-template-tmplt-landing .topmenu,
.page-template-tmplt-home .topmenu {
	display: none !important;
}
.error {
	border: 1px solid #f00 !important;
}