/*-----------For Small Laptops View----------------*/
@media screen and (max-width: 1023px) {
}

/*-----------For Tablet Landscape View----------------*/
@media only screen and (max-width:1099px) {
}

/*-----------For Tablet Portrait View----------------*/
@media only screen and (max-width:991px) {
.desktop {
	display: none!important;
}
.mobile {
	display: block!important;
}
header {
	border-bottom: 5px solid #da2c83;
}
header.sticky {
	position: static;
}
.topbx .logoright {
	margin-right:45px;
}

.menuconainer {
	position: fixed;
	top: 0;
	padding: 35px 10px;
	width: 50%;
	overflow-y: auto;
	background: #f6f6f6;
	height: 100vh;
	left: -100%;
	transition: all ease-in-out 200ms;
	z-index: 9;
}
.menuconainer.active {
	left: 0
}
.menubx {
	float: none;
	width: auto;
	display: block;
	text-align: left;
	margin-top: 30px;
	margin-left: -10px;
	margin-right: -10px;
	font-size: 12px;
	font-weight: 500;
	text-transform: capitalize;
	border-top: 1px solid #4c4c4e;
}
.menubx li {
	display: block;
	line-height: normal;
	height: auto;
	padding: 0!important;
	border-bottom: 1px solid #4c4c4e;
}
.menubx li a {
	padding: 15px 25px;
}
.menubx li a, .menubx li.current-menu-parent>a {
	display: block;
}
.menubx .sub-menu li.menu-item-has-children>a.sub-menu-link:before {
	display: none;
}
.menubx li.menu-item-has-children i {
	position: absolute;
	right: 0;
	width: 48px;
	height: 48px;
	top: 0;
	border-left: 1px solid #4c4c4e;
}
.menubx li.menu-item-has-children i:before {
	content: "";
	border: solid #4c4c4e;
	border-width: 0 3px 3px 0;
	padding: 3px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	position: absolute;
	right: 20px;
	margin-top: 18px;
}
.menubx li.nav-item-open>i:before, .menubx li.sub-nav-item-open>i:before {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
.menubx li.menu-item-has-children>a {
	display: inline-block;
}
.menubx>li:hover .sub-menu, .menubx .sub-nav>ul>li:hover .sub-sub-menu {
	display: none;
}
.menubx .sub-menu, .menubx .sub-sub-menu {
	background: #aaa9a9;
	position: static;
	margin-top: 0px;
	font-size: 12px;
	padding: 0;
	width: auto;
	max-width: none;
}
.menubx li a,
.menubx .sub-menu li a {
	color:#000;
}
.menubx .sub-menu li {
	line-height: normal;
	border-bottom: 1px solid #4c4c4e;
}
.menubx > li:before {
	display:none !important;
}
.wrapper {
	margin-top: 90px;
}
.content {
	padding: 40px 15px;
}
h1.title, .content h2.title {
    font-size: 26px;
    margin-bottom: 40px;
}
.content p {
	font-size: 12px;
}
.participate .numbers {
    height: 70px;
    width: 70px;
    line-height: 70px;
    font-size: 26px;
}
.benefits .textbx p {
    font-size: 16px;
    padding: 0 0 25px;
    max-width: 430px;
}
.benefits .row.no-gutters > div {
    margin-bottom: 10px;
}
.btnbx {
    margin-top: 40px;
}
.btn, .wpcf7-submit, a.flockler-btn-load-more {
    font-size: 16px;
    padding: 10px 32px;
}
.flockler-posts.flockler-posts--small {
    max-width: 100%;
}
.flockler-posts--small .flockler-wall-item {
    width: 33.333%;
}
.rsasurvey h3 {
    font-size: 40px;
}
}

/*-----------For Mobile View----------------*/
@media only screen and (max-width:767px) {
body {
	font-size: 12px;
	background:#fffefb;
}
header {
    border-width: 3px;
}
header .topbx {
	padding: 10px 0;
}
header .logo {
	width: 80px;
}
.topbx .logoright {
    width: 55px;
    margin-bottom: -15px;
}
header .navbar .logo {
    width: 100px;
	margin-left:5px;
}
.menu-show {
	top: 30px;
	right:15px;
}
.menuconainer {
	padding: 15px 10px;
	width: 260px;
}
.menubx {
    margin-top: 20px;
}
.menubx li a {
	padding: 12px 25px;
	font-size: 12px;
}
.menubx li.menu-item-has-children i {
	height: 38px;
}
.wrapper {
	margin-top: 65px;
}
.btn {
	font-size: 14px;
	padding: 10px 20px;
}
.content {
	padding: 30px 0;
	text-align: center;
}
h1.title, .content h2.title {
    font-size: 20px;
    margin-bottom: 20px;
}
.content p {
	font-size: 12px;
}
.content p br,
.content h1.title br, 
.content h2.title br {
	display:none;
}
.btnbx {
    margin-top: 0px;
}
.btnbx a {
    display: inline-block;
    margin: 10px 5px 0;
}
.participate {
	padding-bottom:15px;
}
.participate p {
    margin: 15px 0 25px 0 !important;
}
.participate .boxdown {
    margin-top: 0px;
}
.participate .btnbx a {
    width: 160px;
	margin-top:5px;
}
.benefits .textbx p {
    font-size: 12px;
    padding: 0 0 20px;
	text-align:center;
}
.form-group {
    margin-bottom: 18px;
}
.form-control {
	height: 40px !important;
	font-size: 14px;
}
.flockler-posts.flockler-posts--small {
    max-width: 370px;
}
.flockler-posts--small .flockler-wall-item {
    width: 100%;
}
.press-release {
	padding-bottom:0;
    background-size: 200px auto;
}
.press-release .imgbx {
	margin-bottom:30px;
}
.rsasurvey {
	padding:40px 0 0 0;
}
.rsasurvey .box {
	margin-bottom:30px;
}
.rsasurvey h3 {
	line-height:1;
	margin-bottom:15px;
}
footer {
	padding: 15px 0;
}
footer ul li {
    padding: 0 5px;
}
footer ul li a {
	font-size: 12px;
	letter-spacing:0.5px;
}
.footer .socialicons a {
	font-size: 20px;
	margin: 0 8px;
}
.gotop {
    bottom: 65px;
    right: 5px;
    width: 40px;
}
table th,
table td {
    font-size: 12px;
    padding: 8px 10px;
}
.gallerycol {
	-webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
  column-gap: 0px;
}
.gallerycol img {
	margin-bottom:30px;
}
}
